<ion-view title="Ceviche Taco" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/O7xWdXMR9a8StD8itH8A_BlogHero_Ceviche-Taco_1130x500.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="cevicheTaco-heading2" style="color:#000000;">Ingredients</h1>
    <ion-list id="cevicheTaco-list8">
      <ion-item id="cevicheTaco-list-item43">2 pounds tilapia fillets</ion-item>
      <ion-item id="cevicheTaco-list-item44">1 cup lime juice </ion-item>
      <ion-item id="cevicheTaco-list-item45">3 medium Roma tomatoes</ion-item>
    </ion-list>
    <h1 id="cevicheTaco-heading1" style="color:#000000;">Preparation</h1>
    <div id="cevicheTaco-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Put the tilapia in a medium bowl. Pour the lime juice over the fish and mix gently. Cover with plastic wrap and chill in the refrigerator until the fish is white throughout, about 20 to 30 minutes.</p>

      <p style="color:#000000;">While fish is in the refrigerator, combine tomatoes, cucumber, onion, cilantro, and Serrano chile in a large bowl. Remove fish from the refrigerator and drain off the lime juice, gently squeezing the fish with your hands. Discard the lime juice.
        Gently combine the fish with the rest of the ingredients. Season with salt and pepper, to taste.</p>

      <p style="color:#000000;">Heat tortillas on an open gas flame, flipping once or twice to warm and soften, working towards slight burn marks on both sides; or warm tortillas on both sides in a hot skillet. Lay each tortilla on a flat work surface, place a large spoonful of
        ceviche in the center; top with avocado slices and a sprinkle with cotija cheese. Serve immediately with the lime wedges and Chalula alongside.</p>
    </div>
  </ion-content>
</ion-view>