<ion-view title="Lime Chicken Taco" id="page5">
  <ion-content padding="true" class="has-header">
    <button id="limeChickenTaco-button1" class="button button-light  button-block icon ion-android-camera"> Add A Picture</button>
    <h1 id="limeChickenTaco-heading3" style="color:#000000;">Ingredients</h1>
    <ion-list id="limeChickenTaco-list9">
      <ion-item id="limeChickenTaco-list-item46">2 pounds chicken breasts</ion-item>
      <ion-item id="limeChickenTaco-list-item47">1 cup lime juice </ion-item>
      <ion-item id="limeChickenTaco-list-item48">3 medium Roma tomatoes</ion-item>
    </ion-list>
    <h1 id="limeChickenTaco-heading4" style="color:#000000;">Preparation</h1>
    <div id="limeChickenTaco-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Put the tilapia in a medium bowl. Pour the lime juice over the fish and mix gently. Cover with plastic wrap and chill in the refrigerator until the fish is white throughout, about 20 to 30 minutes.</p>
    </div>
    <button id="limeChickenTaco-button5" class="button button-positive  button-block">Create!</button>
  </ion-content>
</ion-view>