<ion-view title="Taco Recipes" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="tacoRecipes-form1" class="list">
      <label class="item item-input" id="tacoRecipes-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Filter My Recipes">
      </label>
    </form>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.cevicheTaco" id="tacoRecipes-card23">
      <ion-item id="tacoRecipes-list-item37">Ceviche Taco</ion-item>
      <div class=" item item-image">
        <img src="img/wIwbbS8QN2tu8AaT5UK6_BlogHero_Ceviche-Taco_1130x500.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="tacoRecipes-list-item-container5">
        <div id="tacoRecipes-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Fish</strong>,
            <strong>Lime</strong>, Cilantro, Paprika, Hard Shell</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.limeChickenTaco" id="tacoRecipes-card24">
      <ion-item id="tacoRecipes-list-item39">Lime Chicken Taco</ion-item>
      <div class="item item-body" id="tacoRecipes-list-item-container6">
        <div id="tacoRecipes-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Chicken Breast</strong>,
            <strong>Lime</strong>,
            <strong>Vinegar</strong>,
            <strong>Green Onions</strong>, Soft Shell, Hard Shell</p>
        </div>
      </div>
    </a>
  </ion-content>
</ion-view>